profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
        //before the above override, following has been tried:
        //docker.runOptions = '-u $(id -u):$(id -g)'
        //docker.runOptions = '--entrypoint="/bin/bash"'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
        process.memory = '10 GB'
        process.time = '30 min'
        process.cpus = 4
    }
}



