// ways to run the pipeline

profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    slurm {
        singularity.enabled =    true
        singularity.autoMounts = true
        process {
            executor = 'slurm'
            cpus = 10
            memory = '10 GB'
        }
    }
    test {
        process {
            withName: COGAPS {
                cpus = 1
            }
        }
    }
}

// default params
params {
    outdir = 'out'
    params.input = ''
    params.npatterns = 8
    params.nsets = 7
    params.niterations = 1000
    params.sparse = 1
    params.seed = 42
    params.distributed = '"genome-wide"'
}

//reporting
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

//output
process {
    publishDir = { "${params.outdir}" }
}
